# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Next.js build and cache files
.next/
out/
dist/

# Logs and temporary files
*.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code settings
.vscode/
